html {
  height: 100%;
  background: #000000 url("../img/HollidaySurf.jpg") no-repeat bottom left;
  background-size: 100% 100%;
  overflow: hidden;
  color: white;
  position: center;
}
/* giving navbar transparent background */
body, .navbar {
  background-color: transparent;
}
/* making navbar li inline-block element */
.navbar li {
display: inline-block;
padding: 20x;
margin-right: 10px;
margin-left: 10px;
cursor: pointer;
background: transparent;
border-radius: 3px;
}
/* dropdown links style */
.navbar li a {
color: whitesmoke;
font-size: larger;
font-style: oblique;
background-color: tomato;
}

/* "come explore some beers"adding transparent background and opacity for style */
.jumbotron {
  background: transparent;
  /* background: white;
  opacity: .1; */
  margin: 0;
  padding: 0;
}

.jumbotron h3, .jumbotron h2{
  color: white;
}

.container{

}

.box{
  color: white;
  position: relative;
  /* margin-right: 1px; */
  font-size: ;
}
.btn{
  color: white
}
body,
#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map {
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10px;
  margin-bottom: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: white;
  background-color: grey;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .low {
  color: #ec8a2e;
}

.legend .empty {
  color: #a0353a;
}

.legend .coming-soon {
  color: #f4ba48;
}

.legend .healthy {
  color: #1b904f;
}

.legend .out-of-order {
  color: #007dff;
}

